
/* Page that contians all the CSS styling of my webpage. */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: transparent;
    margin: 0 0px 5% 5%;
  }

Header {
    text-align: center;
    padding-bottom: 0;
    font-size: 30px;
}

.headerWrapper {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 0px;
    text-align: center;
}
  
.container {

    
    margin-right: 20%;
    margin-left: 20%;
    text-align:left;
}

p{
    font-size: 23px;
}

b {
    font-size: 25px;
}


.imageWrapper { 
    max-width: 200px; 
    max-height: 200px; 
    width: 100%;
    height: auto;
    margin-right: 100px;
    float: left;
}


hr { 
    height: 2px; 
    padding-top: 0;
    margin-left: 36% !important; 
    margin-right:36% !important;
    justify-content: left;
    border-style: solid; 
    border-color: rgb(97, 97, 97);
    border-width: 3px 0 0 0; 
    border-radius: 18px; 
    padding-bottom: 2px;
  } 

.bodyWrapper {
    margin-top: 50px;
    margin: 0 auto;
    /* padding: 0px 1.0875rem 1.45rem; */
    padding: 0px 80px 80px;
    justify-content: center;
    text-align: center
}


/* Menu Component. */
/* .menuContainer {
    /* flex: left;
    margin-left: 5%; */
/* } */ 

ul {
    list-style: none;
}

li a {
    padding-top: 1%;
    display: flex;
    color: rgb(60, 60, 60);
    text-decoration: underline;
  }
  
/* Change the link color on hover */
li a:hover {
    font-weight: bold;
}